/* font-family: 'Inter', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

/* Grouping frequently used properties */
.scheme,
.num-colors,
body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

/* General styling for body */
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Formatting for header */
header {
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
}

/* Formatting for selects container */
.selects {
  width: 100%;
  padding: 0.5em 0 1.56em 0;
  display: flex;
  justify-content: space-around;
}

.scheme-select {
  width: 60vw;
}

/* Formatting for element that displays entire scheme */
.color-scheme {
  width: 100vw;
  display: flex;
  z-index: -1;
}

/* Formatting for each color */
.color {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Formatting for visible "bar" of color */
.color-bar {
  margin: 0;
  width: 100%;
  height: 40vh;
}

/* Formatting for hex value */
.hex {
  margin: 1em 0;
  text-align: center;
  font-size: 0.625rem;
  cursor: pointer;
}

/* Formatting for text that appears when hex is copied */
.hex-copied {
  text-align: center;
  font-size: 0.75rem;
}

/* Media queries for responsive styling */
@media (min-width: 768px) {
  .num-select {
    width: 20vw;
  }

  .hex {
    font-size: 1rem;
  }

  .hex-copied {
    font-size: 1rem;
  }
}
